<!-- 
    <div class="row" style="margin-top: 2em;">
      <div class="large-4 columns">
        <h3>Basic Usage</h3>
        <p>Demonstrates basic usage of the plugin.</p>
      </div>
      <div class="large-8 columns">
        <div class="twentytwenty-container">
          <img src="assets/wrapper/img/1_1.jpg" />
          <img src="assets/wrapper/img/1_2.jpg" />
        </div>
      </div>
    </div>

    

  
   
    <script>
    $(function(){
      $(".twentytwenty-container[data-orientation!='vertical']").twentytwenty({default_offset_pct: 0.7});
      $(".twentytwenty-container[data-orientation='vertical']").twentytwenty({default_offset_pct: 0.3, orientation: 'vertical'});
    });
    </script>
 -->
<!-- <div class="container-fluid  shadow-sm">
    <nav class="navbar navbar-expand-lg  ">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="#">Mahabis</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
                <div class="navbar-nav active">
                    <a class="nav-link active p-2 text-white" aria-current="page" href="#">Home</a>
                    <a class="nav-link active p-2 text-white" data-bs-toggle="modal" data-bs-target="#signin"><i
                            class="bi bi-person-circle"></i>Login</a>
                    <a class="nav-link active p-2 text-white">SignOut</a>
                    <a class="nav-link active p-2 text-white" href="#"><i class="bi bi-cart-plus-fill mb-3"></i><span
                            class="badge text-bg-danger " style="position: relative;top: -10px;">0</span></a>
                </div>
            </div>
        </div>
    </nav>
</div> -->
<!-- <div class="container-fluid mt-2">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/images/img.jpg" style="height: 400px; width: 90%;" class="d-block w-100" alt="...">
            </div>

        </div>
    </div>
</div> -->

<div>
    <nav class="navbar navbar-expand-lg sticky-top bg-light">
        <div class="container-fluid">
            <a class="navbar-brand text-white" href="#">Mahabis</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
                    <a class="nav-link text-white " data-bs-toggle="modal" data-bs-target="#signin" href="#"><i
                            class="bi bi-person-circle text-white "></i> Login</a>
                    <a class="nav-link text-white" href="#">Logout</a>
                    <a class="nav-link text-white"><i class="bi bi-cart-plus-fill mb-3"></i>Cart</a>
                </div>
            </div>
        </div>
    </nav>
</div>

<div id="carouselExampleFade" class=" container-fluid mt-2 carousel carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="2000">
            <img src="assets/images/img.jpg" class="d-block w-100" alt="..." style="height: 400px; width: 90%;">
        </div>
        <div class="carousel-item" data-bs-interval="5000">
            <img src="assets/images/img5.jpg" class="d-block w-100" alt="..." style="height: 400px; width: 90%;">
        </div>
        <div class="carousel-item" data-bs-interval="7000">
            <img src="assets/images/img6.jpg" class="d-block w-100" alt="..." style="height: 400px; width: 90%;">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="first_h">
    <p>⚡️ HAPPY HOLIDAY DEALS ON EVERYTHING ⚡️</p>
</div>

<div class="container-fluid  productcss">
    <div class="itemclass">
        <div class=" img-fluid">
            <div class="card  cardcss1 text-center shadow p-3 mb-5 bg-body rounded hover-2">
                <img src="https://app.ieverp.com/abt/api/images/FG04904.png" style=" height: 200px;"
                    class="card-img-top w-100" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Kito Star</h5>
                    <p class="text-sm-start m-0">Some quick example text to build on the card title and make up the bulk
                        of the
                        card's content.</p>
                    <p class="text-sm-start m-0">Price: $200</p>
                    <a href="#" class="btn btn-primary btn-sm m-0">Add To Cart</a>
                </div>
            </div>
        </div>
        <div class=" mb-2">
            <div class="card cardcss1 text-center shadow p-3 mb-5 bg-body rounded hover-2 ">
                <img src="https://app.ieverp.com/abt/api/images/FG04904.png" style=" height: 200px;"
                    class="card-img-top w-100" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Kito Star</h5>
                    <p class="text-sm-start m-0">Some quick example text to build on the card title and make up the bulk
                        of the
                        card's content.</p>
                    <p class="text-sm-start m-0 border-1">Price: $200</p>
                    <a href="#" class="btn btn-primary btn-sm m-0">Add To Cart</a>
                </div>
            </div>
        </div>
        <div class=" mb-2">
            <div class="card cardcss1 text-center shadow p-3 mb-5 bg-body rounded hover-2">
                <img src="https://app.ieverp.com/abt/api/images/FG04904.png" style=" height: 200px;"
                    class="card-img-top w-100" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Kito Star</h5>
                    <p class="text-sm-start m-0">Some quick example text to build on the card title and make up the bulk
                        of the
                        card's content.</p>
                    <p class="text-sm-start m-0">Price: $200</p>
                    <a href="#" class="btn btn-primary btn-sm m-0">Add To Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="grid_f">
    <div id="pro1" class="pro">
        <div id="msg">
            <h2 class="summer_pro">Addidas</h2>
            <button class="btn btn-light">
                <span class="shop_n">Shop Now </span>
               </button>
        </div>
    </div>
    <div id="pro2" class="pro">
        <div id="msg">
            <h2 class="summer_pro">Nike</h2>
            <button class="btn btn-light">
                <span class="shop_n">Shop Now </span>
               </button>
        </div>
    </div>
    <div id="pro3" class="pro">
        <div id="msg">
            <h2 class="summer_pro">Nike customized</h2>
           <button class="btn btn-light">
            <span class="shop_n">Shop Now </span>
           </button>

        </div>
    </div>
</div>
<section class="container">
    <!-- <div class="headtext mb-2">
        <h3>Mahabis Shoes Classical Video</h3>
    </div> -->
    <vg-player class="videosize">
        <video [vgMedia]="$any(media)" class="video" #media id="singleVideo" loop="true" autoplay="autoplay" controls
            muted="true">
            <!-- <source src="http://static.videogular.com/assets/videos/videogular.mp4" type="video/mp4" muted> -->
            <source src="assets/images/vi.mp4" type="video/mp4" muted>
        </video>
    </vg-player>
</section>
<!-- 

<div id="container1">
    The before image is first 
    <img src="assets/images/img.jpg" style="height:300px; width:100%"/>
     The after image is last 
    <img src="assets/images/img3.jpg"style="height:300px; width:100%" />
   </div> -->
<section class="container starrating">

    <h3>Rated Excellent By You</h3>
    <h6><ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating></h6>
    <h6>4.3 out of 5 based on 39,758 reviews </h6>

</section>

<!-- <section class="container-fluid  mt-3  "  style="height: 300px; width: max-content; display: inline-block; display: block;">
    <div class="row imgitems" style="background-color: aqua; width: 100%;">
        <div class="col-md-3 img-fluid">
            <div class="cardc p-0">
                <img src="assets/images/img.jpg" style="height: 300px; width: 100vw;" alt="">
            </div>
        </div>
        <div class="col-md-3 img-fluid">
            <div class="cardc p-0">
                <img src="assets/images/img3.jpg" style="height: 300px; width: 100vw;" alt="">
            </div>
        </div>
        <div class="col-md-3 img-fluid">
            <div class="cardc p-0">
                <img src="assets/images/img5.jpg" style="height: 300px; width: 100vw;" alt="">
            </div>
        </div>
        <div class="col-md-3 img-fluid">
            <div class="cardc p-0">
                <img src="assets/images/img6.jpg" style="height: 300px; width: 100vw;" alt="">
            </div>
        </div>
    </div>
</section> -->

<!-- <div class="container-fluid grid_f ">
    <div class="row   ">
        <div class="col-md-3 ">
            <img src="assets/images/img.jpg" style="height: 300px; width: 100%;" alt="">
        </div>
        <div class="col-md-3">
            <img src="assets/images/img.jpg" style="height: 300px; width: 100vw;" alt="">
        </div>
        <div class="col-md-3">
            <img src="assets/images/img.jpg" style="height: 300px; width: 100vw;" alt="">
        </div>
        <div class="col-md-3">
            <img src="assets/images/img.jpg" style="height: 300px; width: 100vw;" alt="">
        </div>
    </div>
</div> -->
<div class="container-fluid">
    <div class=" itemclass">
        <div class="card shadow cardcss">
            <img src="assets/images/img.jpg" class="card-img h-100 p-1" alt="...">
        </div>
        <div class="card shadow cardcss">
            <img src="assets/images/img.jpg" class="card-img h-100 p-1" alt="...">
        </div>
        <div class="card shadow cardcss">
            <img src="assets/images/img.jpg" class="card-img h-100 p-1" alt="...">
        </div>

    </div>
</div>

<!-- <div class="container mt-3 shadow-lg">
    <div class="card">
        <div class="card-body p-0">
            <img src="assets/images/img3.jpg" style="height: 300px; width: 100%;" alt="">
        </div>
    </div>
</div> -->

<div class="sticky ">
    <div class="row d-flex ">
        <div class="col d-flex">
            <img src="https://www.bidzoon.com/images/emptycart.gif" style="height:50px; width:80px">
            <span class="fw-bolder fs-4 mx-4">Instant Discount</span>
        </div>
    </div>
</div>
<footer class="conatiner-fluid  text-white" style="height:370px; width:100%; background-color: rgb(0, 0, 0);">
    <div class="row mx-4">
        <div class="col-md-4 mt-2  ">
            <input type="text" name="ue" class="js-customer-email" placeholder="Enter Email address">
            <input type="submit" name="submit" id="footerSubscribeSubmit" class="button mb-2" value="SIGN UP">
            <div class="ftr-policy-content text-small">
                By signing up to our newsletter you are agreeing to our <a href="/pages/privacy" target="_blank">privacy
                    policy</a>
                <br>
                please note: only new subscribers and customers will receive an email
            </div>
        </div>
        <div class="col-md-3 mt-2 border1 ">
            <ul class="text-small">
                <a>
                    <li class="mb-3 ">Affiliates</li>
                </a>
                <a>
                    <li class="mb-3 ">Offers</li>
                </a>
                <a>
                    <li class="mb-3 ">Careers</li>
                </a>
                <a>
                    <li class="mb-3 ">Stories of time well spent</li>
                </a>
                <a>
                    <li class="mb-3 ">Who we are</li>
                </a>
            </ul>
        </div>
        <div class="col-md-3 mt-2  ">
            <ul class="text-small">
                <a>
                    <li class="mb-3 ">Read our reviews</li>
                </a>
                <a>
                    <li class="mb-3 ">FAQs</li>
                </a>
                <a>
                    <li class="mb-3 ">Help</li>
                </a>
                <a>
                    <li class="mb-3 ">Delivery info</li>
                </a>
                <a>
                    <li class="mb-3 ">Offer T&Cs</li>
                </a>
            </ul>
        </div>
        <div class="col-md-2 mt-2  ">
            <ul class="text-small">
                <a>
                    <li class="mb-3 ">Contact us</li>
                </a>
                <a>
                    <li class="mb-3 ">FAQs</li>
                </a>
                <a>
                    <li class="mb-3 ">Help</li>
                </a>
                <a>
                    <li class="mb-3 ">Delivery info</li>
                </a>
                <a>
                    <li class="mb-3 ">Offer T&Cs</li>
                </a>
            </ul>

        </div>
    </div>
    <hr>
    <div id="extras">
        <p class="copy">&copy; 2023 All rights reserved. Designed by Mahabis</p>
        <div class="pay">
          <img src="https://yevgenysim-turkey.github.io/shopper/assets/img/payment/mastercard.svg" class="payments p-1" />
          <img src="https://yevgenysim-turkey.github.io/shopper/assets/img/payment/visa.svg" class="payments p-1" />
          <img src="https://yevgenysim-turkey.github.io/shopper/assets/img/payment/amex.svg" class="payments p-1" />
          <img src="https://yevgenysim-turkey.github.io/shopper/assets/img/payment/paypal.svg" class="payments p-1" />
          <img src="https://yevgenysim-turkey.github.io/shopper/assets/img/payment/maestro.svg" class="payments p-1" />
        </div>
      </div>
</footer>



<!-- Modal -->
<form [formGroup]="employyeform">
    <div class="modal fade" id="signin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Login</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="name" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="name" formControlName="name"
                            placeholder="name@example.com" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Email address</label>
                        <input type="password" class="form-control" id="password" formControlName="password"
                            laceholder="password" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Login</button>
                </div>
            </div>
        </div>
    </div>
</form>