<!-- <nav class="navbar navbar-expand-lg bg-dark text-white">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">Homepage</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<main>
  <div class="container m-2">
    <div class="row ">
      <div class="col-sm-6 ">
        <div class="card">
          <div class="card-header p-3 ">
            Chart
          </div>
          <div class="card-body">
            <canvas id="myChart" width="300" height="300"></canvas>
          </div>

        </div>
      </div>


    </div>
  </div>
</main>
 <div class="col-md-6">
  <h2>pie chart</h2>
  <canvas id="myChart"></canvas>
</div> -->
<!-- <div class="container d-block ">
  <table class="table shadow">
    <thead class="table-dark">
      <tr>
        <th>#</th>
        <th>Lead No.</th>
        <th>Lead Tittle</th>
        <th>Create On</th>
        <th>Party No</th>
        <th>Party Name</th>
        <th>Due Date</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of newdata;  let i = index  ">
        <td>{{i}}</td>
        <td>{{item.lead_no}}</td>
        <td>{{item.leadtitle}}</td>
        <td>{{item.doc_date | date}}</td>
        <td>{{item.party_no}}</td>
        <td>{{item.party_name}}</td>
        <td style="color:blue">{{item.DueOn}}</td>
        <td clabg-primary text-white ng-tns-c44-6 bg-warning>{{item.leadtype}}</td>

        <td>{{item.lead_descr}}</td>
        <td><Button class="btn btn-primary ">View Details</Button></td>
      </tr>

    </tbody>
  </table>

</div> --> 
<!-- 
<div id="sideToSideCarousel" class="twentytwenty-container" style="height: 510px;">
  <img src="https://cdn.mahabis.com/website/homepage/side-to-side-2.jpg" alt="" class="twentytwenty-before" style="clip: rect(0px, 681.438px, 510px, 0px);">
  <img src="https://cdn.mahabis.com/website/homepage/side-to-side-1.jpg" alt="" class="twentytwenty-after">
<div class="twentytwenty-handle" style="left: 681.438px;"></div><div class="twentytwenty-handle" style="left: 681.438px;"></div></div> -->

<router-outlet></router-outlet>
<!-- <app-card-layout></app-card-layout> -->