     <!-- <label for=""> FirstName</label>
        <input type="text" form-Control="name" formControlName="fname">
        <label for=""> LastName</label>
        <input type="text" form-Control="name" formControlName="lname">
        <label for=""> Designation</label>
        <input type="text" form-Control="designation" formControlName="designation">
        <label for=""> Salary</label>
        <input type="text" form-Control="salary" formControlName="salary">
        <label for=""> Company</label>
        <input type="text" form-Control="company" formControlName="company"> -->
<div class="container">
    <form [formGroup]="employyeform" (ngSubmit)="formsubmit()">
        <div class="mb-3">
            <label for="fname" class="form-label">FirstName</label>
            <input type="text" formControlName="fname" class="form-control" id="fname" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="lname" class="form-label">LastName</label>
            <input type="text" formControlName="lname" class="form-control" id="lname">
        </div>
        <div class="mb-3">
            <label for="designation" class="form-label">Designation</label>
            <input type="text" formControlName="designation" class="form-control" id="designation"
                aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="salary" class="form-label">Salary</label>
            <input type="text" formControlName="salary" class="form-control" id="salary">
        </div>
        <div class="mb-3">
            <label for="company" class="form-label">Company</label>
            <input type="text" formControlName="company" class="form-control" id="company"
                aria-describedby="emailHelp">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button [disabled]="!employyeform.value" type="submit" class="btn btn-primary" >Submit</button>
    </form>
</div>

