<div class="traininglayout">
    <h1>Shivaji Dashboard</h1>
    <div class="silder">
        <div id="carouselExampleFade" class="  carousel-fade"data-bs-ride="carousel" >
            <div class="carousel-inner " >
              <div class="carousel-item active" data-bs-interval="2000">
                <img src="assets/images/img.jpg" class="d-block w-100" style="height: 350px;" alt="...">
              </div>
              <div class="carousel-item" >
                <img src="assets/images/img3.jpg" class="d-block w-100" style="height: 350px;" alt="...">
              </div>
              <div class="carousel-item">
                <img src="assets/images/img2.jpg" class="d-block w-100" style="height: 350px;" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
    <div class="container">
        <div class="itemscard">
            <img src="assets/images/img.jpg" style="width: 150px; height: 80px; " alt="img1" srcset="">
            <h3>First Blog</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi facilis omnis suscipit? Quis aliquam
                deserunt esse minus quam! Mollitia optio id ea neque aut tenetur, voluptate sunt praesentium quidem
                amet, unde, reprehenderit facilis in?</p>
            <button class="btn btn-primary mt-4">Submit</button>
        </div>
        <div class="itemscard">
            <img src="assets/images/img.jpg" style="width: 150px; height: 80px; " alt="img1" srcset="">
            <h3>Second Home Blog</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi facilis omnis suscipit? Quis aliquam
                deserunt esse minus quam! Mollitia optio id ea neque aut tenetur, voluptate sunt praesentium quidem
                amet, unde, reprehenderit facilis in?</p>
            <button class="btn btn-primary">Submit</button>
        </div>
        <div class="itemscard">
            <img src="assets/images/img.jpg" style="width: 150px; height: 80px; " alt="img1" srcset="">
            <h3>Third Company Blog</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi facilis omnis suscipit? Quis aliquam
                deserunt esse minus quam! Mollitia optio id ea neque aut tenetur, voluptate sunt praesentium quidem
                amet, unde, reprehenderit facilis in?</p>
            <button class="btn btn-primary">Submit</button>
        </div>
        <div class="itemscard">
            <img src="assets/images/img.jpg" style="width: 150px; height: 80px; " alt="img1" srcset="">
            <h3>Fourth Tourist Blog</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi facilis omnis suscipit? Quis aliquam
                deserunt esse minus quam! Mollitia optio id ea neque aut tenetur, voluptate sunt praesentium quidem
                amet, unde, reprehenderit facilis in?</p>
            <button class="btn btn-primary">Submit</button>
        </div>
        <div class="itemscard">
            <img src="assets/images/img.jpg" style="width: 150px; height: 80px; " alt="img1" srcset="">
            <h3>Fifth Animals Blog</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi facilis omnis suscipit? Quis aliquam
                deserunt esse minus quam! Mollitia optio id ea neque aut tenetur, voluptate sunt praesentium quidem
                amet, unde, reprehenderit facilis in?</p>
            <button class="btn btn-primary">Submit</button>
        </div>
        <div class="itemscard">
            <img src="assets/images/img.jpg" style="width: 150px; height: 80px; " alt="img1" srcset="">
            <h3>Sixth Weapons Blog</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi facilis omnis suscipit? Quis aliquam
                deserunt esse minus quam! Mollitia optio id ea neque aut tenetur, voluptate sunt praesentium quidem
                amet, unde, reprehenderit facilis in?</p>
            <button class="btn btn-primary">Submit</button>
        </div>
        <div class="itemscard">
            <img src="assets/images/img.jpg" style="width: 150px; height: 80px; " alt="img1" srcset="">
            <h3>Seventh World Blog</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi facilis omnis suscipit? Quis aliquam
                deserunt esse minus quam! Mollitia optio id ea neque aut tenetur, voluptate sunt praesentium quidem
                amet, unde, reprehenderit facilis in?</p>
            <button class="btn btn-primary">Submit</button>
        </div>
        <div class="itemscard">
            <img src="assets/images/img.jpg" style="width: 150px; height: 80px; " alt="img1" srcset="">
            <h3>Eighth Culture Blog</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi facilis omnis suscipit? Quis aliquam
                deserunt esse minus quam! Mollitia optio id ea neque aut tenetur, voluptate sunt praesentium quidem
                amet, unde, reprehenderit facilis in?</p>
            <button class="btn btn-primary">Submit</button>
        </div>
    </div>
</div>
